/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-column-1 {
        width: 100% !important;
    }

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }
    
    #nav .subnav {
        position: initial;
        width: 100%;
        background-color: #000;
    }

    #nav .subnav a {
        padding: 4px 40px;
        color: #fff;
    }

    #search-button {
        display: none;
    }

    #mobile-menu-button {
        display: block;
    }

    #contact-section .row p {
        padding: 8px;
    }

    #contact-section .submit-button {
        width: 96%;
    }
}